* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;

  font-family: 'Roboto', sans-serif;

  background-image: radial-gradient(circle, #212223, #1c1c1d, #171718, #111112, #090909);
}

#app::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999999px;
  background-color: #f2f2f2;

  z-index: -1;
}

#app {
  position: relative;

  display: grid;
  place-content: center;

  width: 60vw;
}

.counter {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.counter-display {
  font-size: 100px;
  display: flex;

  padding: 0 20px 0 20px;
  line-height: 120%;
}

.div-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.div-controls button {
  background: transparent;
  border: none;

  transition: all 100ms;
}

.div-controls button:hover {
  transform: scale(1.1);
}

.div-controls button:active {
  transform: scale(0.9);
}